<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCb5RyMFR_3vXTT250QAXpCgP5d3ftv5TM</string>
	<key>GCM_SENDER_ID</key>
	<string>309493913182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSocialNetworkApp</string>
	<key>PROJECT_ID</key>
	<string>social-network-app-4aca4</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-app-4aca4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309493913182:ios:70829cc0282f8d522dc6cf</string>
</dict>
</plist>